.brand-logo {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
p {
    line-height: 2rem;
}
.button-collapse {
    color: white;
    margin-left: 0px;
}
.container.cent {
    margin-left: 320px;
}
.parallax-container.index {
    min-height: 665px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container.music {
    min-height: 310px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .brand-logo {
        margin-top: 15px;
        margin-bottom: 10px;
        height: 30px;
        width: auto;
    }
    .container.cent {
        margin-left: auto;
    }
}
@media screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .brand-logo {
        margin-top: 15px;
        margin-bottom: 10px;
        height: 30px;
        width: auto;
    }
}
@media screen and (max-width: 600px) {
    .container.cent {
        margin-left: auto;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer.page-footer {
    margin: 0;
}
.horizontal {
    margin-top: 14px;
}
tr {
    margin-top: 10px;
    padding: 0px;
}
.newalb {
    width: 230px;
    height: 230px;
    margin-top: 20px;
    border: 3px solid white;
}
.newalbm {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: 3px solid white;
}
.row.center.hide-on-large-only {
    margin-top: 7rem;
}
.header {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.faf {
    color: white;
}
.newalbd {
    margin-bottom: 8px;
}
.modal-content {
    padding-bottom: 0px !important;
}
.modal-footer {
    margin-bottom: 10px !important;
}
.modal.bottom-sheet {
    max-height: 530px;
}
.col.s12.m6.l66>.row>.col.s12>.row {
    margin-bottom: 3px !important;
}
.col.s12.m6.l6>.row>.col.s12>.row>.input-field {
    margin-top: 5px !important;
}
.container>.section>.row {
    margin-bottom: 0px;
}
.row.contact {
    margin-bottom: 0px;
}