.brand-logo {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
p {
    line-height: 2rem;
}
.button-collapse {
    color: white;
    margin-left: 0px;
}
.container.cent {
    margin-left: 320px;
}
.parallax-container.index {
    min-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container.music {
    min-height: 310px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media screen and (min-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .container.cent {
        margin-left: auto;
    }
    .parallax-container.index {
        min-height: 665px;
        line-height: 0;
        height: auto;
        color: rgba(255, 255, 255, .9);
    }
    .col.s3.m3.l3>.responsive-img {
        padding-top: 70px !important;
    }
    #tagline {
        margin-top: 200px !important;
    }
}
@media screen and (min-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .parallax-container.index {
        min-height: 665px;
        line-height: 0;
        height: auto;
        color: rgba(255, 255, 255, .9);
    }
    .container.cent {
        margin-left: auto;
    }
    .col.s3.m3.l3>.responsive-img {
        padding-top: 70px !important;
    }
    #tagline {
        margin-top: 200px !important;
    }
}
#tagline {
    margin-top: 50px;
}
#tagline>.row.center>.header.col.s12{
    margin-top: 5px;
    padding-right: 0px;
}
.col.s3.m3.l3>.responsive-img {
    padding-top: 20px;
}
.footer.page-footer {
    margin: 0;
}
.horizontal {
    margin-top: 14px;
}
tr {
    margin-top: 10px;
    padding: 0px;
}
.newalb {
    width: 230px;
    height: 230px;
    margin-top: 20px;
    border: 3px solid white;
}
.newalbm {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: 3px solid white;
}
.row.center.hide-on-large-only {
    margin-top: 7rem;
}
.header {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.faf {
    color: white;
}
.newalbd {
    margin-bottom: 8px;
}
.modal-content {
    padding-bottom: 0px !important;
}
.modal-footer {
    margin-bottom: 10px !important;
}
.modal.bottom-sheet {
    max-height: 530px;
}
#contactus>.row.contact>.col.s12>.row {
    margin-bottom: 3px !important;
}
.col.s12.m6.l6>.row.contact>.col.s12>.row>.input-field {
    margin-top: 5px !important;
}
.container>.section>.row {
    margin-bottom: 0px;
}
.row.contact {
    margin-bottom: 0px;
}
.modal-content>.row.contact>.col.s12>.row {
    margin-bottom: 2px;
}
.modal-content>h4,
p {
    margin: 2px;
}
#contactus {
    border: 1px solid #9e9e9e;
    border-radius: 15px 50px;
    margin-top: 0px;
    padding: 10px;
}
.container.scrollspy>.row {
    margin-bottom: 30px;
}
#tourp {
    height: auto;
}
.col.s12>.card-panel.hoverable>span>h3 {
    margin-bottom: 5px;
}
.newcon {
    max-width: 150px;
    height: auto;
    border: 2px solid white;
}
#indfull {
    width: 100%;
    height: auto;
}
.square {
    width: 100%;
    max-width: 100px;
    height: auto;
}
#index-banner>.parallax.hide-on-large-only{
    height: 100% !important;
    width: auto !important;
}